<Config skinFile="D:\Projekte\Vu+\MetrixReloaded\skins\MetrixReloaded\skin.xml" 
        screenNameElement="&lt;eLabel size=&quot;200,25&quot; font=&quot;Regular;20&quot; backgroundColor=&quot;#2d000000&quot; valign=&quot;center&quot; halign=&quot;right&quot; foregroundColor=&quot;#00ffffff&quot; /&gt;" />
